*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-image: url("../img/pinishback.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*alle knapper*/
button {     
    border-radius: 8%;    /* rundede hjørner*/
}

#topbut {
    display: flex;
    flex-direction: row; 
}

/* tilbage */
.goback {
    margin: 1%;
    padding: 35% 35%;
    min-width: 15%;

    background-color: rgb(247, 100, 176);
}

.goback:hover {
    background-color: rgb(152, 70, 112);
    cursor: pointer;
}

/* alt tekst*/
#maintekst {
    display: flex;
    flex-direction: row;

    padding: 2%;
    gap: 2%;
}

/* dansk tekst*/
#datekst {
    margin-right: auto;
    margin-left: auto;
}

/* billede*/
.endobil {
    width: 85%;
    height: auto;

    margin: 5%;
}

.endoimage {
    margin-top: auto;
    margin-bottom: auto;
}

/* engelsk tekst*/
/* alt tekst*/
#engelsktekst {
    display: flex;
    flex-direction: row; 

    display: none;

    padding: 2%;
}

#engtekst {
    width: 90%;
    height: auto;

    margin-right: auto;
    margin-left: auto;

    padding: 2%;

}

/* sprog knap */
#sprog {
    margin: 1%;
    padding: 1%;

    margin-left: 90%;

    
    background-color: rgb(247, 100, 176);
}

#sprog:hover {
    background-color: rgb(152, 70, 112);
    cursor: pointer;
}

#data {
    margin: 1%;
    padding: 2% 25%;

    margin-left: 25%;
    font-size: 120%;

    background-color: rgb(247, 100, 176);
}

#data:hover,
#data:visited {
    text-decoration: none;
    background-color: rgb(152, 70, 112);
    cursor: pointer;
}