* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-image: url("../img/pinishback.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* video*/
#videoer {
    display: flex;
    flex-direction: row;

    z-index: 1;
}

#endovid {
    margin: 0 auto;

    width: 40%;
    height: auto;
}

#endovid2 {
    margin: 0 auto;
    
    width: 40%;
    height: auto;
}

/*alle knapper*/
#buttonx {     
    width: 6%;
    height: auto;

    display: none;
    margin-left: 80%;

    z-index: 0;
}

/* tilbage*/
#goback {
    width: 5%;
    height: auto;

    padding: 1%;
    margin: 1%;
    
    background-color: rgb(247, 100, 176);
    text-align: center;
    white-space: nowrap; /*tekst bliver på en linje*/
    
    border-radius: 8%;    /* rundede hjørner*/
}

#goback:hover {
    background-color: rgb(152, 70, 112);
    cursor: pointer;
}
